<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>${artifactId}</display-name>

	<!-- to make sure IE run in the latest version available -->
	<filter>
		<filter-name>ie-edge</filter-name>
		<filter-class>com.coreoz.plume.jersey.jee.IeFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>ie-edge</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Jersey -->
	<servlet>
		<servlet-name>Jersey Servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>${package}.jee.JerseyConfig</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey Servlet</servlet-name>
		<url-pattern>/api/*</url-pattern> <!-- webservices endpoint -->
	</servlet-mapping>

	<!-- to make sure the servlet container does not print its version -->
	<servlet>
		<servlet-name>Error Servlet</servlet-name>
		<servlet-class>com.coreoz.plume.jersey.jee.ErrorServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>Error Servlet</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	<error-page>
		<location>/error</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>